{{title}}
name{{name}}<br>
name1{{name1}}<br>
{{age}}age1->{{age1}}
<input [(ngModel)]="name" />{{name}}
<button (click)="onClick()">Click me </button>
<hr>

<hr>

<table>

  <tr>
    <td>Num1 </td>
    <td><input [(ngModel)]="num1"  id="num1"/> </td>
  </tr>

  
  <tr>
    <td>Num2 </td>
    <td><input [(ngModel)]="num2"  id="num2" /> </td>
  </tr>

  
  <tr>
    <td>Sum </td>
    <td><button id="sum" (click)="sum()">Sum</button></td>
  </tr>

  
  <tr>
    <td>Minus </td>
    <td><button >Minus</button></td>
  </tr>

</table>

output {{result}}
<app-test ></app-test>

<app-test #one></app-test>


<div>Page start here</div>
<app-header></app-header>
<div>
  <router-outlet></router-outlet>
  
</div>
<app-fotter></app-fotter>
